*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEEBEB
}

.Main-Content .Content{
    margin-left: 340px;
    margin-right: 60px;
    height: calc(100vh - 112px);
}


.Header_of_class{
    margin-left: 280px;
}

.exam-item{
    background-color: #DFD2A3;
    border-radius: 8px; /* Bo góc */
}