*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEEBEB
}

.Main-Content .Content{
    margin-left: 340px;
    margin-right: 60px;
    height: calc(100vh - 112px);
}


.Header_of_class{
    margin-left: 280px;
}

.exam-item{
    padding-bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--borderColor-attention-muted,var(--color-attention-muted,rgba(212,167,44,0.4)));
    background-color: #fff8c5;
    border-radius: 8px; /* Bo góc */
}