*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Slidebar{
    position: fixed;
}

.Main-Content .Content{
    margin-left: 380px;
    margin-right: 100px;
    border-radius: 20px;
}

.avatar-img {
    width: 175px; 
    height: 175px; /* Đặt chiều cao bằng với chiều rộng để tạo hình tròn */
    border-radius: 50%; /* Tạo hình tròn cho ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo và cắt phần thừa */
    border: 2px solid white; /* Đường viền trắng để nổi bật hơn */
}

.Main-Content .background-avatar{
    height: 200px;
    background-color: #58E28F;
    border-radius: 20px 20px 0 0;
}

.Main-Content .profile-section{
    height: 100px;
    background-color: #ccc;
    padding-left: 315px;
    padding-top: 10px;
}

.Main-Content .avatar-Information{
    margin-left: 116px;
}