<!-- Header Navbar -->
<nav class="navbar fixed-top navbar-expand-lg bg-primary-subtle">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#">QUIZ PRO</a>
        <div class="text-center">
            <a href="/client/information"><img src="/images/avatar.png" class="rounded-circle img-fluid" alt="Avatar" style="width: 40px;"></a>
        </div>
    </div>
</nav>
