<!-- Header Navbar -->
<nav class="navbar fixed-top navbar-expand-lg bg-primary-subtle">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#">QUIZ PRO</a>
        <a href="/client/information">
        <div class="text-center">
                <img src="/images/avatar.png" class="rounded-circle img-fluid avatar-img" alt="Avatar" style="width: 40px; height: 40px;">
        </div>
        </a>
    </div>
</nav>
